# ReqRes API
REQRES_BASE_URL=https://reqres.in
# Current ReqRes docs say every request requires this x-api-key header.
REQRES_API_KEY=

# OrangeHRM demo UI
ORANGE_HRM_BASE_URL=https://opensource-demo.orangehrmlive.com
ORANGE_HRM_USERNAME=Admin
ORANGE_HRM_PASSWORD=admin123
